@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,700;1,6..12,300&display=swap');

:root {
  font-family: 'Nunito Sans', sans-serif;

  background-color: #1E1E1E;
}

* {
    margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;

    font-family: 'Nunito Sans', sans-serif;
}

body{
    margin:  4rem 10rem;
}